{% extends 'base.html' %}

{% block title %} Password change {% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div  class="container" style="width: 50%; margin-top: 6%;">
        
        <div class="card" style="border: 1px solid #9a0f0f; background-color: #222222; border-radius: 0; padding: 15px; margin: 9.375rem 0 3.125rem;">
            <form method="post" style="color: #ffffff;">
                {{form|crispy}}
                {% csrf_token %}
                
                <button type="submit" class="btn btn-success" style="border-radius: 0;">Change Password</button>
            </form>
        </div>
    </div>
{% endblock %}