{% extends 'base.html' %}

{% load cart_extras %}

{% block content %}
    <div class="container mt-5 ">

        <div class="card" style="border: 1px solid #9a0f0f; background-color: #222222; border-radius: 0; padding: 15px; margin: 9.375rem 0 3.125rem; color: #ffffff; text-align: center;">
            <div class="card-body">
                <h1>{{ user.username }}'s Profile</h1>
            </div>
            <div class="card-text d-flex justify-content-center">
                <a href="{% url 'accounts:password_change' %}" class="btn" style="border-radius: 0; background-color: #9a0f0f; width: 50%;">Change Password</a>
            </div>
        </div>


        <div class="card" style="border: 1px solid #9a0f0f; background-color: #222222; border-radius: 0; padding: 15px;  color: #ffffff;">
            <h2 style="margin-top: 20px;">Your Cart</h2>
            <hr>

            {% if items %}
                <p>Total items in cart: {{ item_count }}</p>
                <table class="table table-dark table-striped mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.product.title }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.quantity|mul:item.product.price }}</td>
                            <td>
                                <form action="{% url 'orders:delete_from_cart' item.product.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" style="border-radius: 0;">Remove</button>
                                </form>
                                <a href="#" class="btn btn-success btn-sm" style="border-radius: 0;">Buy Now</a>
                            </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        </div>
        
    </div>

{% endblock %}
