{% extends 'base.html' %}

{% block title %} Delete {% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="container mt-5" style="text-align: center;">

        <form method="post">
            {{form|crispy}}
            {% csrf_token %}

            <h3 style="color: #ffffff; margin: 15% 0 4%; text-align: center; font-size: 2rem;">Are you sure you want to delete "{{ object }}"? </h3>
            <input type="submit" class="btn btn-danger" value="Confirm" style="border-radius: 0;">
            <a href="{% url 'galleryItems:homepage' %}" class="btn btn-success" style="border-radius: 0;">Cancel</a>
        </form>
    </div>

{% endblock%}