
<nav aria-label="..." style="display: flex; justify-content: center;">
    <ul class="pagination" style="border: 1px solid #9a0f0f">
    {% if items.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1"  style="color: #9a0f0f;">&laquo; First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ items.previous_page_number }} "  style="color: #9a0f0f;">Previous</a>
      </li>
    {% else %}
      <li class="page-item">
        <span class="page-link disabled">&laquo; First</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}

    {% for num in items.paginator.page_range %}
      {% if items.number == num %}
        <li class="page-item active" aria-current="page">
            <span class="page-link"  style="color: #9a0f0f;"> {{ num }} </span>
        </li>
      {% elif num > items.number|add:-3 and num < items.number|add:3 %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}"  style="color: #9a0f0f;">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if items.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ items.next_page_number }}"  style="color: #9a0f0f;">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ items.paginator.num_pages }}"  style="color: #9a0f0f;">Last &raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link" >Last &raquo;</span>
      </li>
    {% endif %}
 
    </ul>
</nav>